pipeline/pipe_Ingest_landing_00.json
{
	"name": "pipe_Ingest_landing_00",
	"properties": {
		"activities": [
			{
				"name": "loop_grava_parquet",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [
					{
						"name": "tables",
						"value": "\"CLientes\""
					}
				],
				"typeProperties": {
					"items": {
						"value": "@variables('v_tables')",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 3,
					"activities": [
						{
							"name": "exec_pipe_loop",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipe_Ingest_Generico_excel_01",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"tbName": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Excel",
						"type": "DatasetReference",
						"parameters": {
							"folder": "landing",
							"filename": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_tables",
					"value": {
						"value": "@activity('Get Metadata1').output",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"v_tables": {
				"type": "Array",
				"defaultValue": [
					[
						"Historico_Pedidos",
						"historicoPedido"
					],
					[
						"Contas a Pagar",
						"contasapagar"
					],
					[
						"Clientes",
						"clientes"
					],
					[
						"Fornecedores",
						"fornecedores"
					],
					[
						"Recebimentos",
						"recebimentos"
					],
					[
						"Produtos",
						"produtos"
					],
					[
						"Lista Pedidos",
						"pedidos"
					],
					[
						"lista-de-pedidos",
						"pedidosIfood"
					]
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-09-03T22:17:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}