pipeline/pipe_Ingest_Generico_excel_01.json
{
	"name": "pipe_Ingest_Generico_excel_01",
	"properties": {
		"activities": [
			{
				"name": "GetTodosArquivosExcel",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Excel",
						"type": "DatasetReference",
						"parameters": {
							"folder": "@pipeline().parameters.folder",
							"filename": "@{pipeline().parameters.tbName[0]}"
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "CondicaoSeExisteArquivoExcel",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetTodosArquivosExcel",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata1').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Erro",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "EncerraPipe",
								"value": {
									"value": "@{pipeline().parameters.tbName} 'Não Existe'",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "DeleteIngestExcelLanding",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "CopyIngestExcelLanding",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_Excel",
									"type": "DatasetReference",
									"parameters": {
										"folder": "landing",
										"filename": {
											"value": "@{pipeline().parameters.tbName[0]}",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "ls_adls_gestao_bigdata",
										"type": "LinkedServiceReference"
									}
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "CopyIngestExcelLanding",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_Excel",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@pipeline().parameters.folder",
											"type": "Expression"
										},
										"filename": {
											"value": "@{pipeline().parameters.tbName[0]}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_parquet_generico",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "raw",
										"p_path": {
											"value": "@{pipeline().parameters.tbName[1]}/dtingestion=@{utcnow('yyyyMMdd')}",
											"type": "Expression"
										},
										"p_fileName": {
											"value": "@{pipeline().parameters.tbName[1]}-@{pipeline().parameters.dtIngestion}",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Sucesso",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "DeleteIngestExcelLanding",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "EncerraPipe",
								"value": "\"Encerrou com sucesso\""
							}
						}
					]
				}
			}
		],
		"parameters": {
			"tbName": {
				"type": "array"
			},
			"folder": {
				"type": "string"
			},
			"dtIngestion": {
				"type": "string"
			}
		},
		"variables": {
			"EncerraPipe": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-09-03T21:36:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}