pipeline/pipe_Ingest_Generico_excel_01.json
{
	"name": "pipe_Ingest_Generico_excel_01",
	"properties": {
		"activities": [
			{
				"name": "Ingest_Generic_Excel",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_ler_excel_landing",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@pipeline().parameters.tbName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_parquet_generico",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "raw",
							"p_path": {
								"value": "@{pipeline().parameters.tbName[1]}/dtingestion=@{utcnow('yyyyMMdd')}",
								"type": "Expression"
							},
							"p_fileName": "@{pipeline().parameters.tbName[1]}"
						}
					}
				]
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Ingest_Generic_Excel').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Ingest_Generic_Excel",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_output",
					"value": {
						"value": "@activity('Ingest_Generic_Excel').output",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"tbName": {
				"type": "array"
			}
		},
		"variables": {
			"v_output": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-09-03T21:36:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}