adt-landing-pago/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adt-landing-pago"
		},
		"tr_landing_properties_pl_ingerir_fechamento_parameters_p_banco_controle": {
			"type": "string",
			"defaultValue": "dbControle"
		},
		"tr_landing_properties_pl_ingerir_fechamento_parameters_p_tabela_controle": {
			"type": "string",
			"defaultValue": "ControleVersao"
		},
		"tr_landing_properties_pl_ingerir_fechamento_parameters_p_raw": {
			"type": "string",
			"defaultValue": "raw"
		},
		"tr_landing_properties_pl_ingerir_fechamento_parameters_p_landing": {
			"type": "string",
			"defaultValue": "landing"
		},
		"tr_landing_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/e63e4e78-7bcc-4a13-b746-41dc90a24486/resourceGroups/rg-work-bigdata/providers/Microsoft.Storage/storageAccounts/sagestaoloja"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingerir_fechamento')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GmExcel",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_Excel_Lista",
								"type": "DatasetReference",
								"parameters": {
									"folder": {
										"value": "@pipeline().parameters.p_landing",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"itemName",
								"lastModified",
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "forListaArquivos",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GmExcel",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GmExcel').output.childItems",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 1,
							"activities": [
								{
									"name": "loControleVersao",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "select max(dtIngestao) as dtUltimaMod from dbControle..ControleVersao where nomeArquivo = '@{item().name}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_sql_controle",
											"type": "DatasetReference",
											"parameters": {
												"p_banco_dados": "dbControle",
												"p_tabela": "ControleVersao"
											}
										}
									}
								},
								{
									"name": "if_tabela_vazia",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "loControleVersao",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@empty(activity('loControleVersao').output.firstRow.dtUltimaMod)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "EncontrouDataMod",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "v_ultima_data_modificada",
													"value": {
														"value": "@activity('loControleVersao').output.firstRow.dtUltimaMod",
														"type": "Expression"
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "NaoEncotrouDataMod",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "v_ultima_data_modificada",
													"value": {
														"value": "2021-10-08T00:00:00.000Z",
														"type": "Expression"
													}
												}
											}
										]
									}
								},
								{
									"name": "ingerirArquivoParquetRaw",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "if_tabela_vazia",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_Excel",
											"type": "DatasetReference",
											"parameters": {
												"folder": {
													"value": "@pipeline().parameters.p_landing",
													"type": "Expression"
												},
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_parquet_generico",
											"type": "DatasetReference",
											"parameters": {
												"p_container": {
													"value": "@pipeline().parameters.p_raw",
													"type": "Expression"
												},
												"p_path": {
													"value": "@{replace(item().name,' ','')}/dtIngestao=@{pipeline().parameters.p_fechamento}",
													"type": "Expression"
												},
												"p_fileName": {
													"value": "@replace(replace(item().name,'.',''),' ','')\n",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Stored procedure",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "ingerirArquivoParquetRaw",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Proc_Controle_Versao]",
										"storedProcedureParameters": {
											"dtUltimaMod": {
												"value": {
													"value": "@formatDateTime(variables('v_ultima_data_modificada'),'yyyy-MM-ddTHH:mm:ss')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"nomeArquivo": {
												"value": {
													"value": "@item().name",
													"type": "Expression"
												},
												"type": "String"
											},
											"dtFechamento": {
												"value": {
													"value": "@pipeline().parameters.p_fechamento",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_sql_db_azure",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "DeleteIngestExcelLanding",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Stored procedure",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_Excel",
											"type": "DatasetReference",
											"parameters": {
												"folder": "landing",
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "ls_adls_gestao_bigdata",
												"type": "LinkedServiceReference"
											},
											"path": "log"
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"p_banco_controle": {
						"type": "string",
						"defaultValue": "dbControle"
					},
					"p_tabela_controle": {
						"type": "string",
						"defaultValue": "ControleVersao"
					},
					"p_raw": {
						"type": "string",
						"defaultValue": "raw"
					},
					"p_landing": {
						"type": "string",
						"defaultValue": "landing"
					},
					"p_fechamento": {
						"type": "string",
						"defaultValue": "20211101"
					}
				},
				"variables": {
					"v_ultima_data_modificada": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_landing')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_ingerir_fechamento",
							"type": "PipelineReference"
						},
						"parameters": {
							"p_banco_controle": "[parameters('tr_landing_properties_pl_ingerir_fechamento_parameters_p_banco_controle')]",
							"p_tabela_controle": "[parameters('tr_landing_properties_pl_ingerir_fechamento_parameters_p_tabela_controle')]",
							"p_raw": "[parameters('tr_landing_properties_pl_ingerir_fechamento_parameters_p_raw')]",
							"p_landing": "[parameters('tr_landing_properties_pl_ingerir_fechamento_parameters_p_landing')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/landing/blobs/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('tr_landing_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_ingerir_fechamento')]"
			]
		}
	]
}