adt-landing-pago/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adt-landing-pago"
		},
		"ls_adls_gestao_bigdata_servicePrincipalCredential": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalCredential' of 'ls_adls_gestao_bigdata'"
		},
		"ls_adls_gestao_cafeteria_servicePrincipalCredential": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalCredential' of 'ls_adls_gestao_cafeteria'"
		},
		"ls_azuresql_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_azuresql'"
		},
		"ls_mysql_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_mysql'"
		},
		"lsSnowFlake_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'lsSnowFlake'"
		},
		"ls_adls_gestao_bigdata_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sagestaoloja.dfs.core.windows.net"
		},
		"ls_adls_gestao_bigdata_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "41449c7c-1d3f-4e16-9755-3285e7635e3a"
		},
		"ls_adls_gestao_bigdata_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "b9139232-f272-4007-9ae6-307a424eb4a6"
		},
		"ls_adls_gestao_cafeteria_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sagestaocafeteria.dfs.core.windows.net"
		},
		"ls_adls_gestao_cafeteria_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "41449c7c-1d3f-4e16-9755-3285e7635e3a"
		},
		"ls_adls_gestao_cafeteria_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "30dbafd1-2a96-4134-b895-6657a38fd138"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipe_Ingest_Generic')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ingest_Generic",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_parquet_generico",
								"type": "DatasetReference",
								"parameters": {
									"p_container": "bronze",
									"p_path": "clientes",
									"p_fileName": "clientes"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sqldb_ditalia",
								"type": "DatasetReference",
								"parameters": {
									"dbName": "dbDitalia",
									"tbName": {
										"value": "@pipeline().parameters.tbName[1]",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"tbName": {
						"type": "array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-09-03T21:36:18Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_parquet_generico')]",
				"[concat(variables('factoryId'), '/datasets/ds_sqldb_ditalia')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_Ingest_Generico_excel_01')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_Excel",
								"type": "DatasetReference",
								"parameters": {
									"folder": "landing",
									"filename": {
										"value": "@{pipeline().parameters.tbName[0]}",
										"type": "Expression"
									}
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "ls_adls_gestao_bigdata",
									"type": "LinkedServiceReference"
								}
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Excel",
								"type": "DatasetReference",
								"parameters": {
									"folder": {
										"value": "@pipeline().parameters.folder",
										"type": "Expression"
									},
									"filename": {
										"value": "@{pipeline().parameters.tbName[0]}",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_parquet_generico",
								"type": "DatasetReference",
								"parameters": {
									"p_container": "raw",
									"p_path": {
										"value": "@{pipeline().parameters.tbName[1]}/dtingestion=@{utcnow('yyyyMMdd')}",
										"type": "Expression"
									},
									"p_fileName": {
										"value": "@{pipeline().parameters.tbName[1]}-@{pipeline().parameters.dtIngestion}",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_Excel",
								"type": "DatasetReference",
								"parameters": {
									"folder": "@pipeline().parameters.folder",
									"filename": "@{pipeline().parameters.tbName[0]}"
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"tbName": {
						"type": "array"
					},
					"folder": {
						"type": "string"
					},
					"dtIngestion": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-09-03T21:36:18Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_Excel')]",
				"[concat(variables('factoryId'), '/datasets/ds_parquet_generico')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gestao_bigdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_Ingest_landing_00')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "loop_grava_parquet",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [
							{
								"name": "tables",
								"value": "\"CLientes\""
							}
						],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.p_file_name",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 3,
							"activities": [
								{
									"name": "exec_pipe_loop",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipe_Ingest_Generico_excel_01",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"tbName": {
												"value": "@item()",
												"type": "Expression"
											},
											"folder": {
												"value": "@pipeline().parameters.p_folder",
												"type": "Expression"
											},
											"dtIngestion": {
												"value": "@pipeline().parameters.p_dataIngestion",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"p_file_name": {
						"type": "array",
						"defaultValue": [
							[
								"Historico_Pedidos",
								"historicoPedido"
							],
							[
								"Contas a Pagar",
								"contasapagar"
							],
							[
								"Clientes",
								"clientes"
							],
							[
								"Fornecedores",
								"fornecedores"
							],
							[
								"Recebimentos",
								"recebimentos"
							],
							[
								"Produtos",
								"produtos"
							],
							[
								"Lista Pedidos",
								"pedidos"
							],
							[
								"lista-de-pedidos",
								"pedidosIfood"
							]
						]
					},
					"p_folder": {
						"type": "string",
						"defaultValue": "landing"
					},
					"p_dataIngestion": {
						"type": "string",
						"defaultValue": "20100801"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-09-03T22:17:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipe_Ingest_Generico_excel_01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Excel')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gestao_bigdata",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{dataset().filename}.xlsx",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().folder",
							"type": "Expression"
						}
					},
					"sheetIndex": 0,
					"range": "A2",
					"firstRowAsHeader": false
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gestao_bigdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_mysql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_mysql",
					"type": "LinkedServiceReference",
					"parameters": {
						"dbName": {
							"value": "@dataset().dbName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"tbName": {
						"type": "string"
					},
					"dbName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": {
						"value": "@dataset().tbName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_mysql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Binary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gestao_bigdata",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": {
							"value": "@dataset().folder",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gestao_bigdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_parquet_generico')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gestao_bigdata",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_container": {
						"type": "string"
					},
					"p_path": {
						"type": "string"
					},
					"p_fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{dataset().p_fileName}.parquet",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().p_path",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gestao_bigdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqldb_ditalia')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dbName": {
						"type": "string"
					},
					"tbName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().dbName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tbName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/lsSnowFlake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Snowflake",
				"typeProperties": {
					"connectionString": "[parameters('lsSnowFlake_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls_gestao_bigdata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_gestao_bigdata_properties_typeProperties_url')]",
					"tenant": "[parameters('ls_adls_gestao_bigdata_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('ls_adls_gestao_bigdata_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "SecureString",
						"value": "[parameters('ls_adls_gestao_bigdata_servicePrincipalCredential')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls_gestao_cafeteria')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_gestao_cafeteria_properties_typeProperties_url')]",
					"tenant": "[parameters('ls_adls_gestao_cafeteria_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('ls_adls_gestao_cafeteria_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "SecureString",
						"value": "[parameters('ls_adls_gestao_cafeteria_servicePrincipalCredential')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azuresql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_azuresql_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_mysql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"dbName": {
						"type": "string",
						"defaultValue": "dbDitalia"
					}
				},
				"annotations": [],
				"type": "MySql",
				"typeProperties": {
					"connectionString": "[parameters('ls_mysql_connectionString')]"
				},
				"connectVia": {
					"referenceName": "ir-selfhosted-gestao-cafeteria",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ir-selfhosted-gestao-cafeteria')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ir-selfhosted-gestao-cafeteria')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}