adt-landing-pago/PartialArmTemplates/ArmTemplate_10_4_2021_19_33_46.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adt-landing-pago"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipe_Ingest_Generico_excel_01')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_Excel",
								"type": "DatasetReference",
								"parameters": {
									"folder": "landing",
									"filename": {
										"value": "@{pipeline().parameters.tbName[0]}",
										"type": "Expression"
									}
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "ls_adls_gestao_bigdata",
									"type": "LinkedServiceReference"
								}
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Excel",
								"type": "DatasetReference",
								"parameters": {
									"folder": {
										"value": "@pipeline().parameters.folder",
										"type": "Expression"
									},
									"filename": {
										"value": "@{pipeline().parameters.tbName[0]}",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_parquet_generico",
								"type": "DatasetReference",
								"parameters": {
									"p_container": "raw",
									"p_path": {
										"value": "@{pipeline().parameters.tbName[1]}/dtingestion=@{utcnow('yyyyMMdd')}",
										"type": "Expression"
									},
									"p_fileName": {
										"value": "@{pipeline().parameters.tbName[1]}-@{pipeline().parameters.dtIngestion}",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"tbName": {
						"type": "array"
					},
					"folder": {
						"type": "string"
					},
					"dtIngestion": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-09-03T21:36:18Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_Ingest_landing_00')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "loop_grava_parquet",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [
							{
								"name": "tables",
								"value": "\"CLientes\""
							}
						],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.p_file_name",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 3,
							"activities": [
								{
									"name": "exec_pipe_loop",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipe_Ingest_Generico_excel_01",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"tbName": {
												"value": "@item()",
												"type": "Expression"
											},
											"folder": {
												"value": "@pipeline().parameters.p_folder",
												"type": "Expression"
											},
											"dtIngestion": {
												"value": "@pipeline().parameters.p_dataIngestion",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"p_file_name": {
						"type": "array",
						"defaultValue": [
							[
								"Historico_Pedidos",
								"historicoPedido"
							],
							[
								"Contas a Pagar",
								"contasapagar"
							],
							[
								"Clientes",
								"clientes"
							],
							[
								"Fornecedores",
								"fornecedores"
							],
							[
								"Recebimentos",
								"recebimentos"
							],
							[
								"Produtos",
								"produtos"
							],
							[
								"Lista Pedidos",
								"pedidos"
							],
							[
								"lista-de-pedidos",
								"pedidosIfood"
							]
						]
					},
					"p_folder": {
						"type": "string",
						"defaultValue": "landing"
					},
					"p_dataIngestion": {
						"type": "string",
						"defaultValue": "20100801"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-09-03T22:17:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipe_Ingest_Generico_excel_01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Binary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gestao_bigdata",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": {
							"value": "@dataset().folder",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		}
	]
}