adt-landing-pago/PartialArmTemplates/ArmTemplate_10_5_2021_9_51_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adt-landing-pago"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipe_Ingest_Generico_excel_01')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetTodosArquivosExcel",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_Excel",
								"type": "DatasetReference",
								"parameters": {
									"folder": "@pipeline().parameters.folder",
									"filename": "@{pipeline().parameters.tbName[0]}"
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "CondicaoSeExisteArquivoExcel",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GetTodosArquivosExcel",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('GetTodosArquivosExcel').output.exists\n",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Erro",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "EncerraPipe",
										"value": {
											"value": "@{pipeline().parameters.tbName} 'Não Existe'",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "DeleteIngestExcelLanding",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "CopyIngestExcelLanding",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_Excel",
											"type": "DatasetReference",
											"parameters": {
												"folder": "landing",
												"filename": {
													"value": "@{pipeline().parameters.tbName[0]}",
													"type": "Expression"
												}
											}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "ls_adls_gestao_bigdata",
												"type": "LinkedServiceReference"
											}
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								},
								{
									"name": "CopyIngestExcelLanding",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_Excel",
											"type": "DatasetReference",
											"parameters": {
												"folder": {
													"value": "@pipeline().parameters.folder",
													"type": "Expression"
												},
												"filename": {
													"value": "@{pipeline().parameters.tbName[0]}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_parquet_generico",
											"type": "DatasetReference",
											"parameters": {
												"p_container": "raw",
												"p_path": {
													"value": "@{pipeline().parameters.tbName[1]}/dtingestion=@{utcnow('yyyyMMdd')}",
													"type": "Expression"
												},
												"p_fileName": {
													"value": "@{pipeline().parameters.tbName[1]}-@{pipeline().parameters.dtIngestion}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Sucesso",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "DeleteIngestExcelLanding",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "EncerraPipe",
										"value": "\"Encerrou com sucesso\""
									}
								}
							]
						}
					}
				],
				"parameters": {
					"tbName": {
						"type": "array"
					},
					"folder": {
						"type": "string"
					},
					"dtIngestion": {
						"type": "string"
					}
				},
				"variables": {
					"EncerraPipe": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-09-03T21:36:18Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_Ingest_landing_00')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachParaCadaListaArquivo",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [
							{
								"name": "tables",
								"value": "\"CLientes\""
							}
						],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.p_file_name",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 3,
							"activities": [
								{
									"name": "exec_pipe_loop",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipe_Ingest_Generico_excel_01",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"tbName": {
												"value": "@item()",
												"type": "Expression"
											},
											"folder": {
												"value": "@pipeline().parameters.p_folder",
												"type": "Expression"
											},
											"dtIngestion": {
												"value": "@pipeline().parameters.p_dataIngestion",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"p_file_name": {
						"type": "array",
						"defaultValue": [
							[
								"Historico_Pedidos",
								"historicoPedido"
							],
							[
								"Contas a Pagar",
								"contasapagar"
							],
							[
								"Clientes",
								"clientes"
							],
							[
								"Fornecedores",
								"fornecedores"
							],
							[
								"Recebimentos",
								"recebimentos"
							],
							[
								"Produtos",
								"produtos"
							],
							[
								"Lista Pedidos",
								"pedidos"
							],
							[
								"lista-de-pedidos",
								"pedidosIfood"
							]
						]
					},
					"p_folder": {
						"type": "string",
						"defaultValue": "landing"
					},
					"p_dataIngestion": {
						"type": "string",
						"defaultValue": "20100801"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-09-03T22:17:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipe_Ingest_Generico_excel_01')]"
			]
		}
	]
}